.u-center-text {
  text-align: center !important;
}

// Margin Bottom
.u-mb-1 {
  margin-bottom: 1rem !important;
}

.u-mb-2 {
  margin-bottom: 2rem !important;
}

.u-mb-3 {
  margin-bottom: 3rem !important;
}

.u-mb-4 {
  margin-bottom: 4rem !important;
}

.u-mb-5 {
  margin-bottom: 5rem !important;
}

.u-mb-6 {
  margin-bottom: 6rem !important;
}

.u-mb-7 {
  margin-bottom: 7rem !important;
}

.u-mb-8 {
  margin-bottom: 8rem !important;
}

// Margin Top
.u-mt-1 {
  margin-top: 1rem !important;
}

.u-mt-2 {
  margin-top: 2rem !important;
}

.u-mt-3 {
  margin-top: 3rem !important;
}

.u-mt-4 {
  margin-top: 4rem !important;
}

.u-mt-5 {
  margin-top: 5rem !important;
}

.u-mt-6 {
  margin-top: 6rem !important;
}

.u-mt-7 {
  margin-top: 7rem !important;
}

.u-mt-8 {
  margin-top: 8rem !important;
}

.-u-mt-1 {
  margin-top: -1rem !important;
}

.-u-mt-2 {
  margin-top: -2rem !important;
}

.-u-mt-3 {
  margin-top: -3rem !important;
}

.-u-mt-4 {
  margin-top: -4rem !important;
}

// Margin Right
.u-mr-1 {
  margin-right: 1rem !important;
}

.u-mr-2 {
  margin-right: 2rem !important;
}

.u-mr-3 {
  margin-right: 3rem !important;
}

.u-mr-4 {
  margin-right: 4rem !important;
}

.u-mr-5 {
  margin-right: 5rem !important;
}

.u-mr-6 {
  margin-right: 6rem !important;
}

.u-mr-7 {
  margin-right: 7rem !important;
}

.u-mr-8 {
  margin-right: 8rem !important;
}

// Margin Left
.u-ml-1 {
  margin-left: 1rem !important;
}

.u-ml-2 {
  margin-left: 2rem !important;
}

.u-ml-3 {
  margin-left: 3rem !important;
}

.u-ml-4 {
  margin-left: 4rem !important;
}

.u-ml-5 {
  margin-left: 5rem !important;
}

.u-ml-6 {
  margin-left: 6rem !important;
}

.u-ml-7 {
  margin-left: 7rem !important;
}

.u-ml-8 {
  margin-left: 8rem !important;
}